@model Library.Models.books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
