@model IEnumerable<Library.Models.Student>

@{
    ViewBag.Title = "Manage_Students";
}

<h2>Manage Students</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-bordered">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
            <td>
                @Html.ActionLink("Remove Student", "Remove_Student", new { id = item.Student_Id })
                @*@Html.ActionLink("Details", "Details", new { id=item.Student_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Student_Id })*@
            </td>
        </tr>
    }

</table>

@{
    if (TempData["removeMessage"] != null)
    {
        <script type="text/javascript">
                             alert(@Html.Raw(Json.Encode(TempData["removeMessage"])));
        </script>
    }
}
